  {
    "apiKeys": [
      {
        "key": "api-key-1",
        "url": "api-base-url-1",
        "models": [model that this api key use]
      },
      {
        "key": "api-key-2",
        "url": "api-base-url-2",
        "models": [ ]
      },
      {
        "key": "another_api_key_here",
        "url": "https://api.another.com",
        "models": [ ]
      }
    ]
  }
  
//"gpt-3.5-turbo", "gpt-4", "others"